<footer class='footer'>
	<small>
		The <a href="#">ROR Tutorial</a>
		by <a href="#">Apparently some guy!</a>
	</small>

	<nav>
		<ul>
			<li><%= link_to 'About', about_path %></li>
			<li><%= link_to 'Contact', contact_path %></li>
			<li><a href="#">News and stuff!</a></li>
		</ul>
	</nav>
</footer>
